@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');

:root {
    --cor-principal: #df79a5;
    --cor-secundaria: #E8A7A2;
    --cor-texto: #000000;
    --cor-de-fundo: #3989e5;
    --font: "Unlock", serif;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

.cabecalho {
    background-color: var(--cor-secundaria);
    text-align: center;
}
.cabecalho_titulo{
    font-size: 2rem;
    color: var(--cor-texto);
    font-weight: 700;
}
nav{
    display: flex;
    justify-content:center;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    color: var(--cor-texto);
    margin:0 2rem 1rem 0;
    font-size: 1.2rem;
}
nav:hover{
    text-decoration: underline;
    transform: scale(05.90);
    transition: transform 0.1s;
}