@import url('https://fonts.googleapis.com/css2?family=Unlock&display=swap');

:root {
    --cor-principal:#df79a5;
    --cor-secundaria: #E8A7A2;
    --cor-texto: #000000;
    --cor-de-fundo: #3989e5;
    --font: "Unlock", serif;
}

body {
    background-color: var(--cor-principal);
    color: var(--cor-texto);
    font-family: var(--font);
}